<html>
<head>
<title>My Pokemon</title>
</head>
<body>
<style>
h1 {
    font-family: pokemon solid, Helvetica, sans-serif;
    font-size: 30px;
    color: #d0d5f5;
    text-align: center;
}
h2 {
    font-family: PKMN RBYGSC, Helvetica, sans-serif;
    font-size: 20px;
    color: #fefefe;
    text-align: center;
}
body
{
    background-image: url('https://i.pinimg.com/originals/c8/77/9f/c8779f09b14cb34c1702187db6f63154.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
</style>
<h1>
    <a href="https://fontmeme.com/pokemon-font/"><img src="https://fontmeme.com/permalink/230207/dd6cb11dd29ae189973a99f0403a6b12.png" alt="pokemon-font" border="0"></a>
</h1>
<h1>El nombre de tu pokemon es:</h1>
<h2>{{ nombre }}</h2>
<h1>Asi se ve tu pokemon:</h1>
<center>
<img src="{{ foto }}" alt="pokemon" width="200" height="200" 
 />
</center>  
<!--Ponemos la imagen de foto sin el link-->  
<h1>El tipo de tu pokemon es:</h1>
<h2>{{ tipo1 }}</h2>
<h1>Los movimientos son:</h1>
<h2>{{ move1 }}</h2>
<h2>{{ move2 }}</h2>
<h2>{{ move3 }}</h2>
<h2>{{ move4 }}</h2>
<h1>Sus Estadisticas son:</h1>
<h2>hp: {{ hp }}</h2>
<h2>Ataque: {{ ataque }}</h2>
<h2>Defensa: {{ defensa }}</h2>
<h2>Ataque Especial: {{ sp_atk }}</h2>
<h2>Defensa Especial: {{ sp_def }}</h2>
<h2>Velocidad: {{ speed }}</h2>
<h1>Su habilidad es:</h1>
<h2>{{ ability }}</h2>
</body>
</html>